@viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}

@ -ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}


@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .hero-inner {
    font-size: 0.5em;
    border: none;
  }
  nav {
    width: 100%;
    position: sticky;
  }
  nav ul li {
    display: inline-block;
    font-size: 0.87em;
  }
  #home, #portfolio, #about, #contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio-items {
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  }

  .image-container {
    width: 15%;
    position: relative;
  }
  .image {
    height: 325px;
    width: 275px;
    position: relative;
  }
.nav-button {
  visibility: hidden;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .hero-inner {
    font-size: 0.80em;
    border: 0px none transparent;
  }
  nav {
    width: 100%;
    position: sticky;
  }
  nav ul li {
    display: inline-block;
    font-size: 0.87em;
  }
  #home, #portfolio, #about, #contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio-items {
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  }

  .image-container {
    width: 15%;
    position: relative;
  }
  .image {
    height: 325px;
    width: 275px;
    position: relative;
  }
.nav-button {
  visibility: hidden;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  .hero-inner {
    font-size: 0.80em;
    border: 0px none transparent;
  }
  nav ul li {
    display: inline-block;
    font-size: 1.05em;
  }
  #home, #portfolio, #about, #contact {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio-items {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  }

  .image-container {
    width: 25%;
    position: relative;
  }
  .image {
    height: 350px;
    width: 300px;
    position: relative;
  }
  .nav-button {
  visibility: hidden;
  }
}
